<launch>

    
    <arg name="model" default="-d $(find navbot_plan)/config/model.rviz"/>

    <include file="$(find navbotsim)/launch/world.launch">
        <arg name="model" value="$(arg model)"/>
    </include>

    <node name="planner" pkg="navbot_plan" type="planner" output="screen"/>


</launch>