<launch>

    <arg name="navbot_frame" default="navbot"/>

    <param name="navbot_frame" value="$(arg navbot_frame)"/>

    <include file="$(find navbot_plan)/launch/plan.launch">
        <arg name="model" value="-d $(find navbot)/config/model.rviz"/>
    </include>

    <node name="controller" pkg="navbot" type="pynavbot_fly.py" output="screen"/>

</launch>